.profile-edit-avatar,
.profile-edit-banner {
  display: none;
  position: absolute;
}

.upper:hover .profile-edit-banner {
  display: flex;
}

.editable-profile-image:hover .profile-edit-avatar {
  display: flex;
  align-self: flex-end;
  justify-self: center;
}
